<div class="subscription">
    <div class="container">
        <h2 class="mb-4" style="color: white;font-size: 30px;">Subscription Plans</h2>
        <div class="row">
            <div class="col-md-4">
                <div class="card pricing-card">
                    <div class="card-body text-center px-5 py-4">
                        <span class="pricing-card-icon rounded-circle mb-4">
                            <i class="mdi mdi-flag-outline"></i>
                        </span>
                        <p class="mb-0"><span class="h1">10%</span></p>
                        <p class="h5 mb-5"> Instant Discount for 1 Month</p>
                        <ul class="list-group list-group-flush mb-4">
                            <li class="list-group-item font-weight-light border-top-0">Automatic 1 month reserved seat</li>
                            <li class="list-group-item font-weight-light">Can inform holiday, it will be counted</li>
                            <li class="list-group-item font-weight-light border-bottom-0">24/7 Supports</li>
                        </ul>
                        <button class="btn btn-sm btn-danger" (click)="onClicked()">Buy Now</button>
                    </div>
                </div>
            </div>
            <div class="col-md-4">
                <div class="card pricing-card">
                    <div class="card-body text-center px-5 py-4">
                        <span class="pricing-card-icon rounded-circle mb-4">
                            <i class="mdi mdi-ring"></i>
                        </span>
                        <p class="mb-0"><span class="h1">15%</span></p>
                        <p class="h5 mb-5"> Instant Discount for 3 Month</p>
                        <ul class="list-group list-group-flush mb-4">
                            <li class="list-group-item font-weight-light border-top-0">Automatic 3 month reserved seat</li>
                            <li class="list-group-item font-weight-light">Can inform holiday, it will be counted</li>
                            <li class="list-group-item font-weight-light border-bottom-0">24/7 Supports</li>
                        </ul>
                        <button class="btn btn-sm btn-danger">Buy Now</button>
                    </div>
                </div>
            </div> 
            <div class="col-md-4">
                <div class="container">
                    <h1 style="font-size: 25px;"><b>One Price, No Surprice</b></h1>
                    <p style="font-size: 20px;">
                        TransNithya offering Awesome Offers</p>
                </div>
            </div>   
    </div>
</div>   

