<div class="container" id="main">
    <section class="top-header">
        <h1>TransNithya</h1>
        <p>A Bridge between passengers and Public Transportation system</p>
    </section>
    <div>
        <p>
            " transNithya to bridge the gap between passenger and public transportation system. "
        </p>     
            <p>If we take public transportation, Public transport vehicles runs at regular intervals on daily bases from source to destination irrespective of passengers need, demand.since PTO don’t have info about passengers needs.</p>

        <p>From passenger perspective, they believe that public transportation systems are not reliable.they will not be available when they need.now a day’s nobody wants wait at bus stand.as usual they go for their private vehicles which intern increases the traffic level.</p>

        <p>transNithya act as Ram Setu between passengers and public transportation. By collecting the passengers needs and provide this info to PTO to a day prior.</p>

        <p>As I mentioned previously TransNithya bridge the gap between passenger and public transport system there by increasing the efficiency  of public transport system, which intern reduces the traffic level.</p>

        <p>transNithya offers passengers to notify about their needs to the PTO which intern helps PTO to run required no.of transport vehicles at required spots efficiently.</p>

        <p>transNithya also act as alternative reservation system for daily public transport vehicles.
        </p>
    </div>
    <div>
        Thank You,
    </div>
</div>