
<div class="container-fluid">
    <mat-toolbar color="primary">
        <mat-toolbar-row>
            <span class="content-position"></span>
            <span style="font-size: 30px;">Login</span>
            <span class="content-position"></span>
        </mat-toolbar-row>
    </mat-toolbar>
</div>

<div class="container-fluid">
    <mat-card>
        <mat-card-content>
           <form [formGroup]="loginForm" (ngSubmit)="onSubmit(loginForm.get('credentials').value)">
            <div formGroupName="credentials">
                <mat-form-field class="full-width">
                    <mat-label>username</mat-label>
                    <input  matInput  placeholder="name@gmail.com"  name="username" formControlName="username"  required>
                    
                 </mat-form-field>
                 <mat-form-field class="full-width">
                    <mat-label>Password</mat-label>
                    <input matInput [type]="hide ? 'password' : 'text'" placeholder="Password"  name="password" formControlName="password" required>
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" >
                      <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                  </mat-form-field>
                  <mat-card-actions align="center">
                    <button mat-raised-button color="primary" type="submit">Login</button>
                </mat-card-actions>
            </div>
           </form>
        </mat-card-content>
        <mat-card-footer align="center">
            New to TransNithya?<a routerLink="/signup" routerLinkActive="active" (click)="onClose()">SignUp </a> Forget 
            <a routerLink="/signup" routerLinkActive="active" (click)="onClose()"> Password </a>
        </mat-card-footer>
    </mat-card>
</div>
