<div class="row">
    <div id="mapid"></div>
    <div id="info">
        <form [formGroup]="Info"(ngSubmit)="OnSubmit()">
            <div>
                <mat-form-field>
                    <mat-label>Route Number</mat-label>
                    <input type="text" matInput formControlName="routeNumber" required>
                </mat-form-field>
            </div>
            <div>
                <mat-form-field>
                    <mat-label>Date</mat-label>
                    <input type="text" matInput [matDatepicker]="picker" formControlName="runningDate" required>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <mat-card-actions align="center">
                <button mat-raised-button color="primary" type="submit">submit</button>
            </mat-card-actions>
        </form>
        <hr>
        <div *ngIf="totalSeats>0">
            <h3>Total Seats: <b>{{ totalSeats }}</b></h3>
        </div>
    </div>
    
</div>