
<mat-tab-group>
    <mat-tab label="Delete Bus">
        <div>
            <mat-form-field>
                <mat-label>Bus Number</mat-label>
                <input type="text" matInput required>
            </mat-form-field>
            <div>
                <button mat-raised-button color="primary" type="submit">delete</button>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Delete route">
        <div>
            <mat-form-field>
                <mat-label>Route Number</mat-label>
                <input type="text" matInput required>
            </mat-form-field>
            <div>
                <button mat-raised-button color="primary" type="submit">delete</button>
            </div>
        </div>
    </mat-tab>
    <mat-tab label="Delete user">
        <div>
            <mat-form-field>
                <mat-label>Mail Id</mat-label>
                <input type="text" matInput required>
            </mat-form-field>
            <div>
                <button mat-raised-button color="primary" type="submit">delete</button>
            </div>
        </div>
    </mat-tab>
</mat-tab-group>